<div class="accordion" id="postsAccordion">
  @for (post of posts; track post.id; let i = $index) {
    <div class="accordion-item">
      <h2 class="accordion-header" [id]="'heading' + i">
        <button 
          class="accordion-button" 
          type="button" 
          data-bs-toggle="collapse" 
          [attr.data-bs-target]="'#collapse' + i" 
          [attr.aria-expanded]="i === 0 ? 'true' : 'false'" 
          [attr.aria-controls]="'collapse' + i">
          {{ post.titre }}
        </button>
      </h2>
      <div 
        [id]="'collapse' + i" 
        class="accordion-collapse collapse" 
        [ngClass]="{'show': i === 0}" 
        [attr.aria-labelledby]="'heading' + i" 
        data-bs-parent="#postsAccordion">
        <div class="accordion-body">
          <app-post-item [post]="post"></app-post-item>
        </div>
      </div>
    </div>
  }
</div>
